@import "../theme/theme";
$main-color: #f57c00;

.content {
  display: grid;
  grid-template-areas: "date center type" "card-number actually-result type";
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3px;
  justify-content: space-around;
  align-content: start;
  margin-top: 3%;
  margin-left: 2%;
}

.content-item {
  display: grid;
  justify-self: start;
  align-content: start;
  min-width: 210px;
  max-width: 275px;
  margin-top: 1%;
}

.header-item {
  background-color: transparent;
  text-align: center;
  border: 1px solid $main-color;
  border-radius: 0px;
  min-width: 200px;
  max-width: 275px;
  padding: 1% auto;
  margin-bottom: 20px;
}

.data-item {
  min-width: 200px;
  justify-self: center;
}

@media only screen and (max-width: 800px) {
  .content {
    display: grid;
    grid-template-areas: "date" "center" "type" "card-number" "actually-result";
    margin: 3% 50%;
  }

  .card-number {
    grid-area: card-number;
  }

  .actually-result {
    grid-area: actually-result;
  }

  .date {
    grid-area: date;
  }

  .center {
    grid-area: center;
  }

  .type {
    grid-area: type;
  }
}

.card-number {
  grid-area: card-number;
  min-width: 210px;
}

.actually-result {
  grid-area: actually-result;
  min-width: 210px;
}

.date {
  grid-area: date;
  min-width: 210px;
}

.center {
  grid-area: center;
  min-width: 210px;
  display: grid;
  grid-template-areas: "exercise exercise" "ex-form add-btn";
  justify-content: space-around;
}

.add-new-ex-btn {
  grid-area: add-btn;
}

.icon-item {
  min-width: 25px;
}

.type {
  grid-area: type;
  min-width: 210px;
}

.exercise {
  grid-area: exercise;
}

.ex-form {
  grid-area: ex-form;
}

.white {
  color: white;
}

.grey {
	color: grey;
}

.red {
	color: #FF5722;
}

.radio-btn {
	padding-right: 25px;
}

.btn {
	padding-right: 25px;
}

.enter-btn {
  display: block;
  margin: 3% auto;
  text-transform: uppercase;
  text-align: center;
  background: linear-gradient(to top, $main-color, #4c2d00, $main-color);
  border-radius: 0px;
}


