.text-color {
  color: white;
}

.dialog-input {
  display: grid;
  background-color: #F57C00;
  margin: 0;
  padding: 0;
  justify-content: center;
}

.dialog-btn {
  display: grid;
  background-color: #F57C00;
  margin: 0;
  padding: 0;
  justify-content: end;
}
