.table-results {
  margin: 3% auto;
  width: 90%;
  height: 600px;
}

.main-table {
  width: 90%;
  height: 300px;
  margin: 3% auto;
}

.white {
  color: white;
}

.line-chart {
  display: flex;
  justify-content: center;
  margin: 5%;
  width: 90%;
  min-width: 320px;
  min-height: 300px;
}

//white color for numbers and words in chart
::ng-deep .ngx-charts {
  text{
    fill: #fff!important;
  }
}

